
.flex {
    display: flex;
    flex-wrap: wrap;
}
body {

}

/* icon oeil mot de passe */

#createPassword {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.form_profil>div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.form_profil div label{
    width: 250px;
}
.form_profil div input{
    width: 300px;
}