
.flex {
    display: flex;
    flex-wrap: wrap;
}
body {
    
}
/* message personnage mort */
/*
#messageDead {
    color: red;
    background-color: brown;
    display: none; 
}
*/
/* icon oeil mot de passe */

.chpObligatoire {
    color: rgb(255, 60, 0);
}
.messageErrorIdentifiant {
    color: red;
    display: none;
}
.messageErrorPassword {
    color: red;
    display: none;
}
#createPassword {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.form_profil>div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.form_profil div label{
    width: 250px;
}
.form_profil div input{
    width: 300px;
}